{
    "btcd": [
        {
            "url": "127.0.0.1:18443",
            "auth": "test",
            "pass": "test",
            "notify": true
        }
    ],
    "btcaddress": "bchreg:qqugw9vuyndj3wd8ewuxll8zs29j96mh3v93fxhygd",
    "btcsig": "Mined by %s",
    "pooladdress": "bchreg:qqugw9vuyndj3wd8ewuxll8zs29j96mh3v93fxhygd",
    "poolfee": 1,

    "blockpoll": 100,
    "update_interval": 30,
    "serverurl": [
        "0.0.0.0:3333"
    ],

    "mindiff": 1,
    "startdiff": 1,
    "maxdiff": 0,
    "logdir": "logs-regtest",

    "stratum_port": 3333,
    "node_warning": false,
    "log_shares": true,

    "asicboost": true,
    "version_mask": "1fffe000",

    "connector": {
        "bind": "0.0.0.0:3333",
        "bind_address": "0.0.0.0",
        "port": 3333
    },
    "api": {
        "bind": "127.0.0.1:4028",
        "port": 4028,
        "enabled": true
    }
}
